.page-container {
  padding: 20px;
  width: 100%;
}

.page-title {
  margin-top: 40px;
}

.users-table {
  margin-top: 20px;
  border: 1px var(--border-color) solid;
  border-radius: 10px;
}

.users-table__fields {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: var(--border-color);
  font-weight: 500;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.field {
  width: 150px;
}
